
<nav class="navbar navbar-static-top "  id="nav-dark"  ng-style="myStyle2" >
  <div class="container-fluid">
    <div class="navbar-header">
        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand-new" href="/">
        <img src="assets/images/logo-blue.png" alt="VIT University">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-right navbar-dark">
        <li class="dropdown "><a ng-href="#/about-us" role="button" data-toggle="dropdown"  ng-style="myStyle"  class="dropdown-toggle">About Us</a>
        <ul class="dropdown-menu ">
         
              <li><a ng-href="#/about/infrastructure" >    Infrastructure</a></li>
              <li><a ng-href="#/about/placements" >   Placements</a></li>
              <li><a ng-href="#/about/international-relations/" >   International Relations</a></li>
              <li><a ng-href="#/about/campus-life" >   Campus Life</a></li>
            
          </ul>
          </li>
        <li class="dropdown "><a ng-href="#/undergrad" role="button" data-toggle="dropdown"  ng-style="myStyle"  class="dropdown-toggle" >   UG Admissions</a>
          <ul  class="dropdown-menu">
              <li><a ng-href="#/undergrad/viteee" >   VITEEE</a></li>
              <li><a ng-href="#/undergrad" >   Architecture</a></li>
              <li><a ng-href="#/undergrad" >   Law</a></li>
              <li><a ng-href="#/undergrad" >   Hotel Management</a></li>
              <li><a ng-href="#/undergrad" >   Fashion Technology</a></li>
              <li><a ng-href="#/undergrad" >   Arts & Science</a></li>   
            </ul>
        </li>
        <li class="dropdown "><a ng-href="#/postgrad" role="button" data-toggle="dropdown"  ng-style="myStyle"  class="dropdown-toggle" >   PG Admissions</a>
          <ul class="dropdown-menu">
              <li><a ng-href="#/postgrad"  >M.Tech/MSc/MCA</a></li>
              <li><a ng-href="#/postgrad"  >Integrated Programs</a></li>
              <li><a ng-href="#/postgrad"  >Management</a></li>

            </ul>
        </li>
         <li class="dropdown "><a ng-href="#/research" role="button" data-toggle="dropdown"  ng-style="myStyle"  class="dropdown-toggle" >   Research</a>
          <ul class="dropdown-menu">
              <li><a ng-href="#/research"  >M.Phil </a></li>
              <li><a ng-href="#/research"  >M.Tech by Research </a></li>
              <li><a ng-href="#/research"  >Phd.</a></li>
              </ul>
        </li>
        <li class="dropdown "><a ng-href="#/international" role="button" data-toggle="dropdown"  ng-style="myStyle"  class="dropdown-toggle" >International</a>
          <ul class="dropdown-menu">
              <li><a ng-href="#/international" >Undergrad</a></li>
              <li><a ng-href="#/international" >Postgraduate</a></li>
              <li><a ng-href="#/international" >Integrated Programs</a></li>    
              <li><a ng-href="#/international/sap" >S.A.P.</a></li>                   
            </ul>
        </li>
        <li><a ng-href="#/#contact-us" role="button" data-toggle="dropdown"  ng-style="myStyle"  class="dropdown-toggle" >   Contact Us</a>
          
        </li>

      </ul>

    </div>
  </div>
</nav>

