
<nav class="navbar navbar-static-top "  id="nav-dark"  ng-style="myStyle2" >
  <div class="container-fluid">
    <div class="navbar-header">
        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand-new" href="/">
        <img src="assets/images/logo-blue.png" alt="VIT University">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-right navbar-dark">
        <li class="dropdown mega-dropdown"><a role="button" data-toggle="dropdown"  ng-style="myStyle"  class="dropdown-toggle">About Us</a>
        <ul class="dropdown-menu mega-dropdown-menu">
         
        <li class="col-lg-3 col-sm-12">
            <ul>
              <li class="dropdown-header">About Us</li>
              <li><a ng-href="#/about/infrastructure" class="hvr-float">    Infrastructure</a></li>
              <li><a ng-href="#/about/placements" class="hvr-float">   Placements</a></li>
              <li><a ng-href="#/about/international-relations/" class="hvr-float">   International Relations</a></li>
              <li><a ng-href="#/about/campus-life" class="hvr-float">   Campus Life</a></li>
            </ul>
          </li>
          <li class="col-lg-3 col-sm-12">
            <ul>
              <li class="dropdown-header">UG Admissions</li>
              <li><a ng-href="#/undergrad/viteee" class="hvr-float">   VITEEE</a></li>
              <li><a ng-href="#/undergrad" class="hvr-float">   Architecture</a></li>
              <li><a ng-href="#/undergrad" class="hvr-float">   Law</a></li>
              <li><a ng-href="#/undergrad" class="hvr-float">   Hotel Management</a></li>
              <li><a ng-href="#/undergrad" class="hvr-float">   Fashion Technology</a></li>
              <li><a ng-href="#/undergrad" class="hvr-float">   Arts & Science</a></li>   
            </ul>
          </li>
          <li class="col-lg-3 col-sm-12">
            <ul>
              <li class="dropdown-header">PG Admissions</li>
              <li><a ng-href="#/postgrad" class="hvr-float" >M Tech/MSc/MCA</a></li>
              <li><a ng-href="#/postgrad" class="hvr-float" >Integrated Programs</a></li>
              <li><a ng-href="#/postgrad" class="hvr-float" >Management</a></li>

            </ul>
          </li>
          <li class="col-lg-3 col-sm-12">
            <ul>
              <li class="dropdown-header">Research</li>
              <li><a ng-href="#/research" class="hvr-float" >M.Phil </a></l
              <li><a ng-href="#/research" class="hvr-float" >M tech </a></li>
              <li><a ng-href="#/research" class="hvr-float" >Reasearch</a></li>
              <li><a ng-href="#/research" class="hvr-float" >Phd.</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Foreign/NRI</li>
              <li><a ng-href="#/foreign" class="hvr-float">Undergrad</a></li>
              <li><a ng-href="#/foreign" class="hvr-float">Postgraduate</a></li>
              <li><a ng-href="#/foreign" class="hvr-float">Research</a></li>                      
            </ul>
          </li>
          </ul>
          </li>
        <li><a ng-href="#" ng-click="menu()" ng-style="myStyle" >   UG Admissions</a></li>
        <li><a ng-href="#" ng-click="menu()" ng-style="myStyle" >   PG Admissions</a></li>
        <li><a ng-href="#" ng-click="menu()" ng-style="myStyle" >   Research</a></li>
        <li><a ng-href="#" ng-click="menu()" ng-style="myStyle" >   Foreign/NRI</a></li>
        <li><a ng-href="#" ng-click="menu()" ng-style="myStyle" >   Contact Us</a></li>

      </ul>

    </div>
  </div>
</nav>

