  
<div ng-include="'app/components/navbar/navbar.html'"></div>
  <div id="slides">
     <div class="noticecontainer">
               <div ng-controller="NoticeCtrl">
              <ul class="notice" >
              
                <li  ng-repeat="notice in notices">
                <div class="{{notice.class}}"></div>
                <div class="notice-text">
                    <h5>{{notice.type}}</h5>
                    <h3>{{notice.title}}</h3>
                        <h5>{{notice.date}}</h5>
                        <p class="notice-description">{{notice.description}}</p>
                </div>
              
              </li>
              
          </ul>
          </div>
  </div>
    <div ng-controller="CarouselCtrl" >
    <div>
      <uib-carousel interval="myInterval">
        <uib-slide ng-repeat="slide in slides" active="slide.active">
          <img ng-src="{{slide.image}}">
          <div class="overlay"></div>
          <div class="carousel-caption" >
            <h1>{{slide.caption}}</h1>
          </div>
        </uib-slide>
      </uib-carousel>
    </div>
  </div> 
 
  </div>
  <div class="col-lg-12 col-sm-12 col-md-12 padding-lr-0">
            <div class="side-stats">
                    
                    <div class="col-lg-4 col-sm-12 col-md-4  padding-lr-0">
                    <div class="stats-container dark-blue">
                        <h4>From Placement Cell</h4>
                        <div class="stats-number">
                            3277
                        </div>
                        <div class="stats-text">
                            Offers from Wipro, Cognizant, TCS.
                        </div>
                        <div>
                            
                        <a href="#">Know More ></a>
                        </div>
                    </div>
                    </div>
                     <div class="col-lg-4 col-sm-12 col-md-4 padding-lr-0">
                     <div class="stats-container normal-blue">
                         <h4>From our Students</h4>
                        <div class="student-img">
                            <img src="http://lorempixel.com/300/300/people" class="img-circle">
                        </div>
                        <div class="stats-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        </div>
                        <div>
                            
                         <a href="#">Know More ></a>
                        </div>
                     </div>
                    </div>
                     <div class="col-lg-4 col-sm-12 col-md-4 padding-lr-0">
                     <div class="stats-container dark-blue">
                         <h4>Our Achievements</h4>
                        <div class="stats-number">
                            40
                        </div>
                        <div class="stats-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        </div>
                        <div>
                            
                         <a href="#">Know More ></a>
                        </div>
                     </div>
                    </div>
            </div>
        </div>
 <div class="introduction">
     <div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-sm-12 col-md-8">
            <div class="about-section-home " >
            <br>
               <h2 >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</h2><br>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit</p><br>
                <a href="#" class="hvr-blob link-theme">Read More</a>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="information-center">
                    <div class="img-container">
                        <img src="http://lorempixel.com/900/600/" class="img-responsive" />
                    </div>
                    <div class="text-container">
                       Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                    </div>
                    
                    
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="information-center">
                    <div class="img-container">
                        <img src="http://lorempixel.com/900/600/" class="img-responsive" />
                    </div>
                    <div class="text-container">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    </div>
                    
                    
                </div>
            </div>
            </div>
            
        </div>
        <div class="col-lg-4 col-sm-12 col-xs-12 col-md-4 padding-lr-0" >
            <div class="courses-offered"> 
    <div class="container-fluid">
        <h2 class="col-lg-offset-1 ">Courses Offered</h2>

        <div class="courses ">
             <div ng-controller="CourseModalCtrl" >
    <script type="text/ng-template"  id="myModalContent.html">
        <div class="modal-header">
            <a href="#" ng-click="cancel()"><i class="fa fa-times fa-2x white" ></i></a>
        </div>
        <div class="modal-body">
           xxxxxxxxxxxxxxxxx
        </div> 
    </script>
    <div ng-repeat="course in courses">
         <a href="{{course.link}}" target="_blank">
        <div class="course col-sm-12 col-lg-12 col-md-12">
        <div class="{{course.class}}"></div>
        <div class="text-container">
            
            <h4  class="hvr-float">{{course.name}}</h4>
            <h5>{{course.school}}</h5>
        </div>
           
        </div>
    </a>
    </div>
   

    <button type="button" class="btn hvr-shutter-out-horizontal btn-theme col-lg-8 col-lg-offset-1"  ng-click="open('lg')">See All Courses</button>
</div>
        </div>
    </div>
</div>
          
        </div>
        
    </div>
</div>
 </div>

   <div ng-include="'app/components/footer/footer.html'"></div>