<div ng-include="'app/components/navbar/navbar.html'"></div>

   <!--  <div ng-controller="CarouselCtrl" id="slides">
    <div>
      <carousel >
        <slide ng-repeat="slide in slides" active="slide.active">
          <img ng-src="{{slide.image}}">
          <div class="carousel-caption" interval="captionInterval">
            <h1>{{slide.caption}}</h1>
            <div class="underline"></div>
          </div>
        </slide>
      </carousel>
    </div>
  </div>  -->
  <!-- Half Page Image Background Carousel Header -->
  <div class="hero-bg">
      <div class="carousel-caption">
            <h1>The University For Leaders</h1>
            <div class="underline"></div>
          </div>
          <div class="noticecontainer">
               <div ng-controller="NoticeCtrl">
              <ul class="notice" >
              <li  ng-repeat="notice in notices" ng-class="{{notice.class}}">
              <h5>{{notice.type}}</h5>
              <h3>{{notice.title}}</h3>
                  <h5>{{notice.date}}</h5>
              </li>
          </ul>
          </div>
         
  </div>
   