  
<div ng-include="'app/components/navbar/navbar.html'"></div>
<!--Form Capture-->
<div ng-controller="Controller">
     <script type="text/ng-template" id="modal.html">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              
              <div class="modal-body modal-theme">

                <div class="row">
                <div class="form-capture">
                
                    <div class="blue-background">
                 
                    <img src="assets/images/logo.png" class="img-responsive">
                    </div>
                  
                  <div class="form-container">
                  <span type="button" ng-click="close('Yes')" class="circle-btn" data-dismiss="modal"><i class="fa fa-times-circle"></i></span>
                    <form action="" class="form-background" method="POST" role="form">
                      
                      <div class="form-group">
                             <input type="text" class="form-control" id="name" required>
                             <span class="form-highlight"></span>
                             <span class="form-bar"></span>
                             <label class="float-label" for="name">Name</label>
                       </div>
                       <div class="form-group">
                             <input type="email" class="form-control" id="email" required>
                             <span class="form-highlight"></span>
                             <span class="form-bar"></span>
                             <label class="float-label" for="email">Email</label>
                       </div>
                       <div class="form-group">
                             <span class="form-highlight"></span>
                             <span class="form-bar"></span>
                             <select class="form-control">
                                     <option selected="">B.Tech</option>
                                     <option>B.Arch</option>
                                     <option>Law</option>
                                     <option>Arts</option>
                             </select>
                       </div>
                      <div class="form-group">
                             <span class="form-highlight"></span>
                             <span class="form-bar"></span>
                             <select class="form-control">
                                     <option selected="">India</option>
                                     <option>UAE</option>
                                     <option>USA</option>
                             </select>
                       </div>
                    
                      
                    
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                  </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
     </script>
     </div>
  <div id="slides">

     <div class="noticecontainer">
               <div ng-controller="NoticeCtrl" >
              <ul class="notice" >
                <a ng-repeat="notice in notices" href="{{notice.link}}">
                  <li  >
                <div class="{{notice.class}}"></div>
                <div class="notice-text">
                    <h5>{{notice.type}}</h5>
                    <h3>{{notice.title}}</h3>
                    <h5>{{notice.date}}</h5>
                </div>
              
              </li>
              
                </a>
                
          </ul>
          </div>
    </div>
  
    <div class="hero-section">
        <div class="hero-caption hidden-xs">
        <img src="assets/images/home.png"  />

        <div class="list-header">
        <ul>
          <li class=" white-text"><a class="hvr-bob" href="https://www.google.co.in/maps/@12.9682339,79.1557941,3a,75y,64.03h,107.02t/data=!3m7!1e1!3m5!1sVPqerQbHD_EAAAQfDn4XfQ!2e0!3e2!7i13312!8i6656" target="_blank">Explore VIT in 360&deg;</a></li>
          <li class=" white-text"><a class="hvr-bob" href="https://www.youtube.com/embed/IcK3uck76J0?enablejsapi=1&amp;iv_load_policy=3&amp;playerapiid=v1_youtube_api&amp;disablekb=1&amp;wmode=transparent&amp;controls=0&amp;showinfo=0&amp;modestbranding=0&amp;rel=0&amp;loop=0&amp;cc_load_policy=1&amp;fs=0&amp;html5=1&amp;autoplay=0" target="_blank">Watch Video&nbsp;<i class="fa fa-video-camera"></i></a></li>
        </ul>
        </div>
        
        
        </div>
    </div>
    <div class="hidden-xs" ng-controller="VideoCtrl">

      <vid-bg resources="resources" poster="poster" full-screen="fullScreen" muted="muted" z-index="zIndex" play-info="playInfo" pause-play="pausePlay"></vid-bg>
      <div class="overlay"></div>
    </div>
  </div>
 <div class="introduction">
     <div class="container">
    <div class="row">

        <div class="col-lg-12  col-sm-12 col-md-12 ">
            <div class="about-section-home " >
            <br>
               <h2 >Why Choose VIT</h2><br>
               <p>VIT university is a progressive educational institution that is dedicated to the pursuit of excellence. Students here are encouraged on this journey by our committed faculty, world-class facilities and student-friendly educational systems. 
VIT university was founded in 1984 by Dr. G. Viswanathan, a former parliamentarian and minister in the Tamil Nadu Government, as a self-financing institution called the ‘Vellore Engineering College’. Since then the institution has grown from strength to strength. </p>
            </div>
            <div class="row">
              <div class="col-lg-3 col-sm-12 col-md-3">
                 <div class="stats-container ">
                    <div style="text-align:center"><img src="assets/images/2.png" class="hvr-grow" style="width:80%;"></div>
                        
                           <div class="stats-number">
                               4 Campuses
                           </div><br>
                           <div class="stats-text">
                               Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                           </div>
                             
                               
                     </div> 
                    
                    <div>
                    </div>
                 </div>
                
              <div class="col-lg-3 col-sm-12 col-md-3">
                <div class="stats-container " ng-controller="CarouselCtrl">
                    <div style="text-align:center" ><img src="assets/images/3.png" class="hvr-grow" style="width:80%;"></div>
                            <uib-carousel interval="myInterval" active="active">
                              <uib-slide ng-repeat="achievement in achievements track by achievement.id" index="achievement.id">
                                <div class="stats-number">
                                    {{achievement.number}}
                                </div><br>
                                <div class="stats-text">
                                     {{achievement.text}} 

                                </div>
                               
                              </uib-slide>
                            </uib-carousel>
                           
                     </div>
                    
                        <!-- 
                    <a href="http://www.vit.ac.in/placement">Know More ></a> -->
                    </div>
              <div class="col-lg-3 col-sm-12 col-md-3">
                 <div class="stats-container ">
                    <div style="text-align:center"><img src="assets/images/4.png" class="hvr-grow" style="width:80%;"></div>

                           <div class="stats-number">
                               40 MoUs
                           </div><br>
                           <div class="stats-text">
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                           </div>
                             
                               
                     </div> 
                    
                    <div><!-- 
                        
                     <a href="http://www.vit.ac.in/about/raac">Know More ></a> -->
                    </div>
                 </div>
                
               <div class="col-lg-3 col-sm-12 col-md-3">
                 <div class="stats-container " ng-controller="CarouselCtrl">
                    <div style="text-align:center"  ><img src="assets/images/1.png" class="hvr-grow" style="width:80%;"></div>
                            <uib-carousel  interval="myInterval" active="active">
                              <uib-slide ng-repeat="stat in stats track by stat.id" index="stat.id">
                                  <div class="stats-number">
                                      {{stat.number}}
                                  </div><br>
                                  <div class="stats-text">
                                       {{stat.text}} 
                                  </div>
                              </uib-slide>
                            </uib-carousel>
                           
                             
                               
                     </div> 
                    
                    <div><!-- 
                        
                     <a href="http://www.vit.ac.in/about/raac">Know More ></a> -->
                    </div>
                 </div>
                
              </div>
            </div>
            
        </div>
        
    </div>
    </div>
    <div class="testimonials" ng-controller="CarouselCtrl">
                    <div class="container"> 
                    <div class="row">
                       <uib-carousel interval="myInterval" active="active">
                           <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id" ng-click="show(slide)">
                            <div class="row">
                              <div class="student-img-testimonial col-sm-12 col-lg-4">
                                   <img src="{{slide.image}}" class="img-circle hvr-ripple-out">
                               </div>
                               <div class="stats-text-carousel col-sm-12 col-lg-8">
                                  <p class="main-testimonial">"{{slide.testimonial}}"<br><br><span class="name">-{{slide.name}}</span></p>
                               </div>
                            </div>
                             
                               
                           </uib-slide>
                         </uib-carousel>
     <script type="text/ng-template" id="testimonial.html">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              
              <div class="modal-body modal-theme" style="background: #fff;">
                <div class="row">
                  <div class="testimonial-container">
                    <img src="{{slide.image}}" class="img-responsive hvr-ripple-out">
                    <div class="stats-text-carousel-inside">
                    <p class="main-testimonial">"{{slide.testimonial}}"<br><br><span class="name">-{{slide.name}}</span></p>
                   </div>
                  </div>
                </div>
                <div class="row">
                  
                   <div class="main-text-testimonial">
                     <p>"{{slide.detail}}"</p>
                   </div>
                </div>

              </div>
            </div>
          </div>
        </div>
     </script>
                         </div>
                         </div>
                       </div>
    <div class="courses-offered">
    
    <div class="container-fluid">
        <div class="visible-xs">
           <div ng-controller="PhoneCtrl">
          <div role="tabpanel" >
            <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" ng-click="selectTab(0)" ng-class="{'active':selectedTab == 0}">
                              <a class="courses-tab" data-target="#tab" aria-controls="home" role="tab" data-toggle="tab">Undergraduate  </a>
                              </li>
          <li role="presentation" ng-click="selectTab(1)" ng-class="{'active':selectedTab == 1}">
                              <a class="courses-tab" data-target="#tab1" aria-controls="home" role="tab" data-toggle="tab">Postgraduate </a>
                              </li>

          <li role="presentation" ng-click="selectTab(2)" ng-class="{'active':selectedTab == 2}">
                              <a class="courses-tab" data-target="#tab2" aria-controls="home" role="tab" data-toggle="tab">Research</a>
                              </li>

                          </ul>
          
          <div class="tab-content">
                          <div role="tabpanel" ng-controller="CourseModalCtrl" class="tab-pane active" id="tab">
                             <div ng-repeat="program in programs">
                                 <div class=" col-sm-12 col-lg-4 col-md-4">
                                 <a href="{{program.anchor}}">
                                 <div class="course">
                                 <div class="course-img"> 
                                   <img src="{{program.imagehome}}" >
                                 </div>
                                 <div class="course-details">
                                   <div class="course-title">
                                   <div class="{{program.class}}"></div>
                                     <div class="text-container">
                                     <p>Course</p>
                                     <h4  class="hvr-float">{{program.name}}</h4>
                                     </div>
                                   </div>
                                 
                                 <div class="course-short-description">
                                     {{program.shortdescription}}
                                 </div>
                                  <button type="button" class="btn hvr-back-pulse main-btn-theme"   >Apply Now</button>
                                    <img src="{{program.image}}" class="img-responsive vector-main-home">
                                 </div>
                                 
                               </div>
                               </a>
                               </div>
                             </div> 
                          </div>
                          <div role="tabpanel" ng-controller="CourseModalCtrl" class="tab-pane" id="tab1">
                               <div ng-repeat="postgrad in postgrads">
                                  <div class=" col-sm-12 col-lg-4 col-md-4">
                                  <a href="{{postgrad.anchor}}">
                                  <div class="course"> 
                                  <div class="course-img"> 
                                    <img src="{{postgrad.imagehome}}">
                                  </div>
                                  <div class="course-details">
                                  <div class="course-title">
                                    <div class="{{postgrad.class}}"></div>
                                      <div class="text-container">
                                      <p>Course</p>
                                      <h4  class="hvr-float">{{postgrad.name}}</h4>
                                      </div>
                                    </div>
                                  <div class="course-short-description">
                                      {{postgrad.shortdescription}}
                                  </div>
                                   <button type="button" class="btn hvr-back-pulse main-btn-theme"  >Apply Now</button>
                                     <img src="{{postgrad.image}}" class="img-responsive vector-main-home">
                                     </div>
                                </div>
                                </a>
                              </div> 
                              </div>
                          </div>
                          <div role="tabpanel" ng-controller="CourseModalCtrl" class="tab-pane" id="tab2">
                               <div ng-repeat="research in researches">
                                  <div class=" col-sm-12 col-lg-4 col-md-4">
                                  <a href="{{research.anchor}}">
                                  <div class="course">
                                  <div class="course-img"> 
                                    <img src="{{research.imagehome}}">
                                  </div>
                                  <div class="course-details">
                                  <div class="course-title">
                                    <div class="{{research.class}}"></div>
                                      <div class="text-container">
                                      <p>Course</p>
                                      <h4  class="hvr-float">{{research.name}}</h4>
                                      </div>
                                    </div>
                                  
                                  <div class="course-short-description">
                                      {{research.shortdescription}}
                                  </div>
                                   <button type="button" class="btn hvr-fade main-btn-theme"  >Apply Now</button>
                                     <img src="{{research.image}}" class="img-responsive vector-main-home">
                                     </div>
                                </div>
                                </a>
                              </div> 
                              </div> 
                          </div>
                      </div>
        </div>
        </div>  
        </div>
        <div class="hidden-xs">
            <h2>Undergraduate Courses</h2>
          <div  ng-controller="CourseModalCtrl" > 
          <div class="row">
           
          <div ng-repeat="program in programs">
              <div class=" col-sm-12 col-lg-4 col-md-4">
              <a href="{{program.anchor}}">
              <div class="course">
              <div class="course-img"> 
                <img src="{{program.imagehome}}" >
              </div>
              <div class="course-details">
                <div class="course-title">
                <div class="{{program.class}}"></div>
                  <div class="text-container">
                  <p>Course</p>
                  <h4  class="hvr-float">{{program.name}}</h4>
                  </div>
                </div>
              
              <div class="course-short-description">
                  {{program.shortdescription}}
              </div>
               <button type="button" class="btn hvr-back-pulse main-btn-theme"   >Apply Now</button>
                 <img src="{{program.image}}" class="img-responsive vector-main-home">
              </div>
              
            </div>
            </a>
            </div>
          </div>  
          </div>
          <div class="row">
          <h2 >Post Graduate Courses</h2><br>
           <div ng-repeat="postgrad in postgrads">
           
              <div class=" col-sm-12 col-lg-4 col-md-4">
              <a href="{{postgrad.anchor}}">
              <div class="course"> 
              <div class="course-img"> 
                <img src="{{postgrad.imagehome}}">
              </div>
              <div class="course-details">
              <div class="course-title">
                <div class="{{postgrad.class}}"></div>
                  <div class="text-container">
                  <p>Course</p>
                  <h4  class="hvr-float">{{postgrad.name}}</h4>
                  </div>
                </div>
              <div class="course-short-description">
                  {{postgrad.shortdescription}}
              </div>
               <button type="button" class="btn hvr-back-pulse main-btn-theme"  >Apply Now</button>
                 <img src="{{postgrad.image}}" class="img-responsive vector-main-home">
                 </div>
            </div>
            </a>
          </div> 
          </div>
          </div>
          <div class="row">
          <h2 >Research Courses</h2><br>
           <div ng-repeat="research in researches">
              <div class=" col-sm-12 col-lg-4 col-md-4">
              <a href="{{research.anchor}}">
              <div class="course">
              <div class="course-img"> 
                <img src="{{research.imagehome}}">
              </div>
              <div class="course-details">
              <div class="course-title">
                <div class="{{research.class}}"></div>
                  <div class="text-container">
                  <p>Course</p>
                  <h4  class="hvr-float">{{research.name}}</h4>
                  </div>
                </div>
              
              <div class="course-short-description">
                  {{research.shortdescription}}
              </div>
               <button type="button" class="btn hvr-fade main-btn-theme"  >Apply Now</button>
                 <img src="{{research.image}}" class="img-responsive vector-main-home">
                 </div>
            </div>
            </a>
          </div> 
          </div> 
          </div>
        </div>
     
    </div>
    </div>

 </div>

<!--  <div class="container">
      <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 " >
              
             <div ng-controller="ModalCtrl" >
                <div class="information-center" >
                  <div class="img-container"  ng-click="open('lg')" >
                      <img src="assets/images/video-image.JPG"  />

                      <h2 ><span style="font-weight:700">VIT</span> in action</h2>
                  </div>
                  <div class="play" ng-click="open('lg')"><i class="fa fa-play"></i></div>
              </div>
              
                  <script type="text/ng-template"  id="myModalContent.html">
                      <div class="modal-header modal-header-new">
                          <a style="position: absolute;right: 0;" href="#" ng-click="cancel()"><i class="fa fa-times fa-2x white" ></i></a>
                      </div>
                      <div class="modal-body modal-body-new">
                         <iframe width="560" height="360" src="https://www.youtube.com/embed/IcK3uck76J0?enablejsapi=1&amp;iv_load_policy=3&amp;playerapiid=v1_youtube_api&amp;disablekb=1&amp;wmode=transparent&amp;controls=0&amp;showinfo=0&amp;modestbranding=0&amp;rel=0&amp;loop=0&amp;cc_load_policy=1&amp;fs=0&amp;html5=1&amp;autoplay=0" frameborder="0" allowfullscreen></iframe>
                      </div> 
                  </script>
              

            </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="information-center">
                <a href="https://www.google.co.in/maps/@12.9682339,79.1557941,3a,75y,64.03h,107.02t/data=!3m7!1e1!3m5!1sVPqerQbHD_EAAAQfDn4XfQ!2e0!3e2!7i13312!8i6656" target="_blank">
                    <div class="img-container" id="#img-container">
                      <img src="assets/images/360-image.JPG"/>
                      <h2 >Explore<span style="font-weight:700"> VIT</span> in 360</h2>
                  </div>
                </a>
                
                  <div onclick="window.open('https://www.google.co.in/maps/@12.9682339,79.1557941,3a,75y,64.03h,107.02t/data=!3m7!1e1!3m5!1sVPqerQbHD_EAAAQfDn4XfQ!2e0!3e2!7i13312!8i6656','_blank')" class="play"><img src="assets/images/360-icon.png" class="img-responsive"></div>
                  
              </div>
              
              </div> 
      </div>
    </div> -->
</div>
</div>
   <div ng-include="'app/components/footer/footer.html'"></div>

 