/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v7/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v7/IQHow_FEYlDC4Gzy_m8fcoWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body{
  height: 100%;
  width: 100%;
  font-family: 'Montserrat' , sans-serif;

}
.bold{
  font-weight: 900;
  font-size: 2.4em;
}
#nav-new{
  z-index: 45;
  background: transparent !important;
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
  margin: 0 auto !important;
  border:none !important;
  margin-bottom: 0px !important;
}
#nav-dark{
  z-index: 45;
  background: #fff !important;
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
  margin: 0 auto !important;
  border:none !important;
  margin-bottom: 0px !important;
}
.navbar-dark > li > a{
  margin-top: 20px;
  transition: all linear 0.2s;
  color: #333 !important;
  font-weight: 600 !important;
  background: #fff;
  font-size: 1.3em;
}
.dropdown-menu{
   z-index: 2222222222222;
   min-width: 250px;
   transition: all linear 2s;
   opacity: 0.6;
}
.dropdown:hover>.dropdown-menu {
  display: block;
  opacity: 1;

}
.contact-us-links ul li a{
  transition: all linear 0.2s;
}
.contact-us-links ul li a:hover, .contact-us-links ul li a:focus {
  padding-left: 4px;
}
.dropdown-menu>li>a {
    padding: 10px 20px;
    font-size: 1.3em;
    transition: all linear 0.2s;
}

.navbar-inverse .navbar-nav > li > a {
    margin-top: 20px;
  color: #fff !important;
  font-weight: 700 !important;
  font-size: 1.3em;
  transition: all linear 0.2s;

}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    padding-left: 25px;
}
.navbar-brand-new {
  padding: 0px;
  margin-top: 20px;
}
.navbar-brand-new>img {
  height: 100px;
  width: auto;
}


.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: transparent;
}
#slides{
  min-height: 100vh;
  background: #333333;
  position: relative;
}
.hero-caption{
  margin: auto;
  position: relative;
  font-weight:400;
  font-size: 5em;
  letter-spacing: 2px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  text-align: center;
}
.thin{
  font-weight: 400;
}
.hero-section img{
  position: relative;
    width: 50%;
    margin: auto;
    height: auto;
}
  
 .hero-section {
    width: 70%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 24;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}


.introduction{
  background: #fff;
  padding-bottom: 50px;
  z-index: 23;
  position: relative;
}
.course-section{
  z-index: 23;
  position: relative;
}
.carousel-indicators , .carousel-control {
    display: none;
}

.course-short-description{

}
.course-details .course-short-description{
  height: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    /* width: 300px; */
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 200px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.viteee-guidelines p{
  font-size: 1.2em;
}

.about-section-home{
  min-height: 260px;
  text-align: center;
  margin-bottom: 20px;
}
.about-section-home h2{
  font-weight: 900;
  color: #333333;
  font-size: 2.4em;
}
.courses-offered h2{
  font-weight: 900;
  color: #fff;
  font-size: 2.4em;
}
.courses-offered p{
  color: #f2f2f2;
  font-weight: 400;
  font-size: 1.3em;
}
.about-section-home p , .admission-section-home p{
  font-weight: 400;
  color: #333333;
  font-size: 1.3em;
}
.link-theme{ 
  color: #3b5998;
  font-size: 20px;
  text-decoration: none !important;
  margin-bottom:15px;
  transition: all linear 0.2s;
}
.link-theme:hover{
  padding-bottom: 5px;
}
/*.hero-bg{
  background: url('http://lorempixel.com/1920/800/');
  min-height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}*/
.video-container, .container360{
  width: auto;
  height: 620px;
  overflow: hidden; 
}
.video-container, .container360 img{
  width: auto;
  min-height: 620px;
  overflow: hidden;
}
.text-container {
  color: #666666;

}
.text-container h4 {
    font-size: 1.5em;
    margin-top: 0;
}
.notice a li {
    position: relative;
    list-style-type: none;
    text-align: left;
    clear: both;
    cursor: pointer;
    transition: all linear 0.8s;
    background: rgba(0,0,0,0.4);
    color: #f2f2f2;
    height: 100px;
    width: 300px;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
    border-radius: 4px;
    transition: all linear 0.2s; 
}
.noticecontainer{
  position: absolute;
  right: 1%;
  z-index: 24;
  top: 25%;

}
.play {
    position: absolute;
    font-size: 68px;
    color: #ffffff;
    padding: 12px 24px;
    margin: 0 auto;
    text-align: center;
    left: 0;
    right: 0;
    top: 35%;
    cursor: pointer;

}
.play img{
  width: 40%;
  text-align: center;
  margin: 0 auto;
  margin-top: -10%;
}
.modal-content{
  text-align: center;
  background: transparent !important;
  box-shadow: none;
  border: none !important;
  border-radius: 0px !important;
}
.modal-header-new{
  border: none !important;
}
.modal-body-new{
  padding: 0px !important;
  box-shadow: none;
  border: none !important;
  border-radius: 0px !important;

}
.information-center{
  position: relative;
  padding-top: 50px;
}
.blue{
    height: 80px;
    background: #29abe2;
    position: absolute;
    left: 11px;
    top: 12%;
    bottom: 0;
    width: 6px;

}
.img-container{
  position: relative;
  cursor: pointer;
  overflow: hidden;
  height: 420px;
}
.img-container h2{
    color: #fff;
    background: rgba(0,0,0,0.4);
    width: 100%;
    bottom: 0%;
    margin: 0 auto;
    font-weight: 400;
    position: absolute;
    /* left: 0; */
    /* right: 0; */
    line-height: 60px;
    height: 60px;
    text-align: center;
}
.img-container img{
 position: absolute;
 left: 0;
 right: 0;
 text-align: center;
  height: 420px;
  width: auto;
  filter: brightness(60%);
  -webkit-filter: brightness(60%);
  transition: all linear 0.4s;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}
.img-container img:hover{
  filter:brightness(80%);
  -webkit-filter: brightness(80%);
}
.play:hover + #img-container img{
  filter:brightness(80%);
  -webkit-filter: brightness(80%);
}
.notice-text{
  margin-left: 14px;
}

  .notice h3{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.67em;
    font-weight: 700;
  }
.pink{
      height: 80px;
      position: absolute;
      left: 11px;
      top: 12%;
      bottom: 0;
      width: 6px;
  background: #ff3e4c;
}
.yellow{
   height: 80px;
      position: absolute;
      left: 11px;
      top: 12%;
      bottom: 0;
      width: 6px;
  background: #ffad5c;
 
}
.blue-small{
    background: #29abe2;
    position: absolute;
    left: 11px;
    top: 14%;
    bottom: 0;
    width: 4px;

}
.pink-small{
      position: absolute;
      left: 11px;
      top: 14%;
      bottom: 0;
      width: 4px;
  background: #ff3e4c;
}
.yellow-small{
      position: absolute;
      left: 11px;
      top: 14%;
      bottom: 0;
      width: 4px;
  background: #ffad5c;
 
}
.green-small{
   position: absolute;
      left: 11px;
      top: 14%;
      bottom: 0;
      width: 4px;
  background: #38b64a;
  
}
.orange-small{
   position: absolute;
      left: 11px;
      top: 14%;
      bottom: 0;
      width: 4px;
  background: #ed9a1a;
  
}
.purple-small{
  position: absolute;
      left: 11px;
      top: 14%;
      bottom: 0;
      width: 4px;
  background: #5b3976;

}
.courses-offered{
  background: #03558c;
  text-align: center;
  padding-top:40px;
  padding-bottom: 25px;
  z-index: 23;
  position: relative;
}

.main-btn-theme{
  font-size: 1.1em;
    color: #0071bc;
    background: #fff;
    border: 2px solid;
    padding: 8px 22px 8px 22px !important;
    text-transform: uppercase;
    bottom: 15px;
    position: absolute;
}
.btn-theme{
  font-size: 1.1em;
    color: #0071bc;
    background: #fff;
    border: 2px solid;
    padding: 8px 22px 8px 22px !important;
    text-transform: uppercase;
    margin-top: 40px;
}

#nav-new .navbar-brand {
  height: 60px;
}

#nav-new .nav >li >a {
  padding-top: 20px;
  padding-bottom: 20px;
}
#nav-new .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}
.navbar-brand-new {
  height: 80px;
}
.testimonials{
    z-index: 24;
    min-height: 350px;
    position: relative;
}
.student-img img{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
    -moz-filter: brightness(80%);
    bottom: 0;
}
.student-img{
  position: relative;
  height: 350px;
  overflow: hidden;
}
.student-text-carousel{
    
    z-index: 24;
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 20%;
    right: 0;
    margin: 0 auto;
    text-align: left;
}
.student-text-carousel p{
  font-size: 1.5em;
  color: #fff;
}
.student-text-carousel span{
  font-size: 1.4em;
  font-weight: 800;
}
.course-title{
  position: relative;
  margin-left: -10px;
  margin-bottom:10px;
}
.course{
  position: relative;
  margin-top: 10px;
  text-align: left;
   background: #fff;
  border-radius: 4px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  height: 250px;
}
.course .text-container{
  margin-left: 25px;
}
.course .text-container p {
    color: #b3b3b3;
    font-size: 0.94em;
    font-weight: 400;
    margin-bottom: 0px;
    line-height: 2.3;
}
.text-container h4{
  cursor: pointer;
}
.course h3{
  color: #666666;
  font-weight: 500;
  text-align: left;
  line-height: 1.3;
  margin-top: 5px;
  margin-bottom: 5px;
}
.course h5{
  color: #b3b3b3;
  font-weight: 400;
  text-align: left;
  line-height: 0.8;
  margin-top: 5px;
  margin-bottom: 5px;
}
.course-main .text-container{
  margin-left: 25px;
}
.course-main .text-container p {
    color: #b3b3b3;
    font-size: 0.94em;
    font-weight: 400;
    margin-bottom: 0px;
    line-height: 2.3;
}
.course-main h3{
  color: #666666;
  font-weight: 500;
  text-align: left;
  line-height: 1.3;
  margin-top: 5px;
  margin-bottom: 5px;
}
.course-main h5{
  color: #b3b3b3;
  font-weight: 400;
  text-align: left;
  line-height: 0.8;
  margin-top: 5px;
  margin-bottom: 5px;
}
.notice h5{
  font-weight: 400;
  color: #ccc;
  margin-top: 5px;

  font-size: 16px;

}
.notice a:hover{
  text-decoration: none !important;

}
.notice a li:hover {
  padding-left: 20px;
  
}
.underline{
	margin-top: 20px;
    border-bottom: 10px solid #fff;
    content: "";
    width: 36%;

}
.overlay{
  position: absolute;
    width: 100%;
    background: rgba(0,0,0,0.2);
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 23;
}
.orange-overlay{
  position: absolute;
    width: 100%;
    background:rgba(255,87,34,0.71);
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 23;
}
.pink-overlay{
  position: absolute;
    width: 100%;
    background:rgba(244,67,54,0.71);
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 23;
}
.yellow-overlay {
    position: absolute;
    width: 100%;
    background: rgba(255,235,59,0.71);
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 23;
}
.purple-overlay {
    position: absolute;
    width: 100%;
    background: rgba(156,39,176,0.71);
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 23;
}
.green-overlay{
  position: absolute;
    width: 100%;
    background: rgba(76,175,80,0.71);
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 23;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.stats-container{
  min-height: 275px;
  padding: 20px;
  position: relative;
  vertical-align: middle;
}
.stats-container a{
  color: #fff;
  transition: all linear 0.2s;
  position: absolute;
    right: 2%;
    bottom: 4%;

}
.stats-container a:hover{
  padding-bottom: 4px;
}
.stats-container h4{
  color: #000;
  text-align: center;
}
.stats-container img{
  text-align: center;
}
.stats-number{
  font-weight: 800;
  font-size: 2.3em;
  color: #303030;
  text-align: center;
  margin:  15px 0;
}
.stats-text{
  font-weight: 400;
  font-size: 1.3em;
  color: #6b6b6b;
  text-align: center;
}
.stats-text-carousel{
  font-weight: 400;
  font-size: 1.3em;
  color: #f2f2f2;
  margin-top: 45px;
  margin-left: 20px;
  text-align: left;
}
.dark-blue{
  background: #00457c;
}
.normal-blue{
  background: #03558c;
}
/*.student-img{
  text-align: center;
  width: 133px;
  height: 133px;
  margin-top: 40px;
}
.student-img img{
    border: 4px solid #fff;
    overflow: hidden;
    height: 133px !important;
    width: 133px;

}*/
.padding-lr-0{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}
.notice-description{
  display: none;
}
.gap {
  height: 30px;
  width: 100%;
  clear: both;
  display: block;
}
footer{
  position: relative;
  z-index: 99;
}
.footer {
  background: #00457c;
  height: auto;
  position: relative;
  width: 100%;
}
.footer p {
  margin: 0;
}
.footer img {
  max-width: 100%;
}
.footer h3 {
  border-bottom: 1px solid #BAC1C8;
  color: #f2f2f2;
  font-size: 22px;
  font-weight: 800;
  line-height: 27px;
  padding: 40px 0 10px;
  text-transform: uppercase;
}
.footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  color: #f2f2f2;
}
.footer ul li a {
  padding: 0 0 5px 0;
  display: block;
  transition: all linear 0.2s;
}
.footer ul li a:hover {
  padding-left: 4px;
}
.footer a {
  color: #f2f2f2
}
.footer-logo{
  margin-top: 50px;
  text-align: center;
}
.supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
  background: #FFFFFF;
  display: inline-block;
  float: left;
  height: 30px;
  clear: both;
  width: 100%;
}
.newsletter-box .btn {
  border: medium none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  height: 40px;
  padding: 0;
  width: 100%;
  color: #fff;
}
.newsletter-box {
  overflow: hidden;
}
.bg-gray {
  background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
  box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
  background: none repeat scroll 0 0 #B5B5B5;
  border: 2px solid #B5B5B5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0 8px 0 0;
  padding: 0;
  text-align: center;
  width: 36px;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
.social li:hover {
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
  color: #EDEFF1;
}
.social li:hover {
  border: 2px solid #2c3e50;
  background: #2c3e50;
}
.social li a i {
  font-size: 16px;
  margin: 0 0 0 5px;
  color: #EDEFF1 !important;
}
.footer-bottom {
  background: #03558c;
  padding-top: 10px;
  color: #fff;
  padding-bottom: 10px;
}
.footer-bottom p.pull-left {
  padding-top: 20px;
}
.payments li a:hover{
  color: #03558c;
  background: #f5f5f5;
}
.payments li {
 
  padding-left: 15px;

  }
.payments li a{
  color: #fff;
  padding: 8px 15px !important;
  text-align: center;
  font-size: 1.3em; 
}
.full {
    width: 100%;  
}
.video-container{
  background: rgba(0,0,0,0.6);
}
.message-item {
margin-bottom: 25px;
margin-left: 40px;

position: relative;
}
.message-item .message-inner {
color: #fff;
padding: 10px;
position: relative;
}

.message-item:before {
    background: #fff;
    border-radius: 2px;
    bottom: -34px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    content: "";
    height: 100%;
    left: -30px;
    position: absolute;
    width: 3px;
}
.message-item:after {
    background: #0071bc;
    border: 2px solid #ccc;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    content: "";
    height: 25px;
    left: -40px;
    position: absolute;
    top: 10px;
    width: 25px;
}
.clearfix:before, .clearfix:after {
content: " ";
display: table;
}
.message-item .message-head {
border-bottom: 1px solid #eee;
margin-bottom: 8px;
padding-bottom: 8px;
}
.message-item .message-head .avatar {
margin-right: 20px;
}
.message-item .message-head .user-detail {
overflow: hidden;
}
.message-item .message-head .user-detail h5 {
font-size: 16px;
font-weight: bold;
margin: 0;
}
.message-item .message-head .post-meta {
float: left;
padding: 0 15px 0 0;
}
.message-item .message-head .post-meta >div {
color: #333;
font-weight: bold;
text-align: right;
}
.post-meta > div {
color: #777;
font-size: 12px;
line-height: 22px;
}
.message-item .message-head .post-meta >div {
color: #333;
font-weight: bold;
text-align: right;
}
.post-meta > div {
color: #777;
font-size: 12px;
line-height: 22px;
}


.course-intro{
  background: #00457c;
  padding-top: 100px;
  color: #fff;
}

.course-intro h2{
  font-weight: 700;
  color: #fff;
}
.course-intro h5{
  font-size: 16px;
  font-weight: 400;
}
.courses{
  position: relative;
}
.course-list h2{
  font-weight: 700;
  font-size: 2.1em;
}
.vector-main{
  position: absolute;
  max-width: 27% !important;
  height: auto;
  right: 5%;
  top: 5%;
  z-index: -5;
  opacity: 0.3;
}
.vector-main-home{
  position: absolute;
  max-width: 32% !important;
  height: auto;
  right: 5%;
  top: 5%;
  opacity: 0.5;
}
.flex{
  display: flex;

}
.padding-r-0{
  padding-right: 0px !important;
}
.vectors-sidelined{
  max-width: 5%;
  display: inline-block;
}
.main-header{
  text-transform: uppercase;
}
.main-header-section{
     height: 250px;
    vertical-align: middle;
    display: table-cell;
    vertical-align: middle;
}
.section-header{
  font-weight: 700;
  text-transform: uppercase;
}
.section-lower-header{
  font-weight: 700;
}
.address{
  font-size: 1.3em;
}

.inline{
  display: inline-block;
  margin: 5px 20px 5px 0;
}
.inline h4{
  font-weight: 700;
}
.inline h5{
  font-size: 400;
}
.more-description{
  margin-top: 20px;
}
.program{
  position: relative;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.tabs-left{
  margin-bottom: 20px;
  background: #f2f2f2;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
    border-bottom: 0;
}
.tabs-left>.nav-tabs{
  background: #00457c;
    color: #fff;
    padding-left: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.tabs-left> .tab-content{
  font-size: 1.3em;
  min-height: 525px;
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}

.tab-content > .active,
.pill-content > .active {
    display: block;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
    float: none;
}

.tabs-left > .nav-tabs > li > a, .tabs-right > .nav-tabs > li > a {
    /* min-width: 180px; */
    margin-right: 0;
    font-size: 1.3em;
    color: #fff;
    transition: all linear 0.2s;
}

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border: none;
}

.tabs-left > .nav-tabs > li > a {
    border: none;
    background: transparent !important;
}
.tabs-left> .nav-tabs > li > a:hover{
  background: none !important;
  background: transparent !important;
  padding-left: 25px; 
  text-decoration: underline;
}
.tabs-left > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover, .tabs-left > .nav-tabs .active > a:focus {
    background: transparent !important;
    text-decoration: underline !important;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
    border : none !important;
    background: transparent !important;
    padding-left: 25px;
    text-decoration: underline !important;
    border: none !important;
    color: #f2f2f2 !important;

}
.viteee-guidelines{
  padding-top: 40px;

}
.viteee-guidelines ul li{
  font-size: 1.2em;
}
.tab-section{
  padding-top: 20px;
  padding-bottom: 20px
}
.contact-us-links ul li a{
  color: #0071c1;
  font-size: 1.2em;
}
.course-img{
  position: relative;
  overflow: hidden;
  width: 35%;
  float : left;

  border-radius: 4px 0px 0px 4px; 
}
.course-img img{
  left: 0;
  right: 0;
  transition: all linear 0.2s;
  height: 250px;
  margin-left: -50px;
  width: auto; 
  -webkit-filter: brightness(80%); /* Chrome, Safari, Opera */
  filter: brightness(80%);
  cursor: pointer; 
}
.course-img img:hover{
  -webkit-filter: brightness(100%); /* Chrome, Safari, Opera */
  filter: brightness(100%);

}
/*.student-img img{
  transition: all linear 0.2s;
  -webkit-filter: brightness(100%); /* Chrome, Safari, Opera 
  filter: brightness(100%);
  cursor: pointer;
}
.student-img img:hover{
  -webkit-filter: brightness(80%); /* Chrome, Safari, Opera 
  filter: brightness(80%);

}*/
.course-details{
  width: 65%;
  padding: 15px;
  float: right;
  position: relative;
  height: 100%;
}
.know-more-section{
  height: 100%;
  background: #f2f2f2;
  padding: 10px 0px 20px 35px;
}
.course-option-list{
  background: #00457c;
  padding-top: 12px;
  padding-left: 15px;
  color: #fff;
  border-radius: 24px;
  width: 75%;
  height: 50px;
  font-size: 1.3em;
}
.course-option-list select{
  line-height: 50px;
  min-width: 420px;
  text-align: center;
  background: #00457c;
  outline: 0 !important;
  margin: 0 !important;
  border: 0 !important;
}
.courses-table thead th{
  color: #666666;
  font-size: 1.4em;
}
.courses-table tbody tr td{
  color: #666666;
  margin-top: 10px;
}
.btn-blue-theme{
  font-size: 1.1em;
    color: #fff;
    background: #00457c;
    border: 2px solid;
    padding: 8px 22px 8px 22px !important;
    text-transform: uppercase;
}
.courses-table{
  margin-top: 10px;
}
.section-top{
  position: relative;
  width: 100%;
  overflow: hidden;
}
.section-overlay{
  position: relative;
 height: 400px;
}
.section-overlay h1 {
    font-weight: 100;
    font-size: 6em;
    color: #fff;
    z-index: 24;
    position: relative;
    top: 50%;
    font-family: Roboto;
    text-align : left;
}
.section-overlay img{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  margin: 0 auto;
  top: 50px;
}
.section-top img{
  
  width: 100%;
}
.content-main p {
   margin-top: 50px;
   font-size: 1.3em;
   margin-bottom: 50px;
}