/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v7/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v7/IQHow_FEYlDC4Gzy_m8fcoWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body{
  height: 100%;
  width: 100%;
  font-family: 'Montserrat' , sans-serif;

}
.bold{
  font-weight: 900;
  font-size: 2.4em;
}
#nav-new{
  background: transparent !important;
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
  margin: 0 auto !important;
  border:none !important;
  margin-bottom: 0px !important;
}
.navbar-inverse .navbar-nav > li > a {
    margin-top: 50px;
  color: #fff !important;
  font-weight: 600 !important;
  text-transform: uppercase;
}
.navbar-brand{
  margin-top: 50px;
  color: #fff !important;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: transparent;
}
#slides{
  min-height: 800px;
  background: #333333;
  position: relative;
}
.carousel-caption h1{
  font-weight: 700;
  font-size: 4.3em;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
}

.introduction{
  background: #f2f2f2;
}
.carousel-indicators , .carousel-control {
    display: none;
}


.carousel-caption {
    position: absolute;
    right: 50% !important;
    top: 170px;
    z-index: 10;
    padding-bottom: 20px;
    text-align: left;
    text-shadow: none !important; 
}

.about-section-home{
  margin-bottom: 40px;
}
.about-section-home h2{
  font-weight: 900;
  color: #333333;
  font-size: 3.2em;
}
.about-section-home p , .admission-section-home p{
  font-weight: 400;
  color: #333333;
  font-size: 1.5em;
}
.link-theme{ 
  color: #3b5998;
  font-size: 20px;
  text-decoration: none !important;
}
/*.hero-bg{
  background: url('http://lorempixel.com/1920/800/');
  min-height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}*/
.img-container{
  width: auto;
  height: 300px;
  overflow: hidden; 
}
.text-container{
  font-size: 1.3em;
  margin-top: 10px;
  color: #666666;

}

.notice li {
    position: relative;
    list-style-type: none;
    text-align: left;
    clear: both;
    background: rgba(0,0,0,0.4);
    color: #f2f2f2;
    height: 120px;
    width: 306px;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
    border-radius: 4px;
}
.noticecontainer{
  position: absolute;
  right: 1%;
  z-index: 999;
  top: 25%;

}
.notice h5{
  font-weight: 700;
  color: #ccc;
  font-size: 16px;

}
.underline{
	margin-top: 20px;
    border-bottom: 10px solid #fff;
    content: "";
    width: 36%;

}
.overlay{
  position: absolute;
    width: 100%;
    background: rgba(0,0,0,0.5);
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.stats-container{
  text-align: center;
  min-height: 300px;
  padding: 20px;
  vertical-align: middle;
}
.stats-number{
  font-weight: 800;
  font-size: 6.3em;
  color: #fff;
  margin:  30px 0;
}
.stats-text{
  font-weight: 400;
  font-size: 1.3em;
  color: #f2f2f2;
}
.dark-blue{
  background: #00457c;
}
.normal-blue{
  background: #03558c;
}
.padding-lr-0{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

