@media screen and (max-width: 1280px) and (min-width: 768px){
	#slides{
	min-height: 450px;
	background: #333333;
}
	.carousel-caption h1{
	font-weight: 700;
	font-size: 2.6em;
	letter-spacing: 2px;
	color: #fff;
	text-transform: uppercase;
}
	.notice li {
    position: relative;
    list-style-type: none;
    text-align: left;
    clear: both;
    cursor: pointer;
    background: rgba(0,0,0,0.4);
    color: #f2f2f2;
    height: 90px;
    width: auto;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
    border-radius: 4px;
}
	.notice h5{
		margin-top: 5px;
    	margin-bottom: 5px;
    	font-size: 0.83em;
	}
	.notice  h3{
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 1.17em;
	}
	.pink , .blue, .yellow{
		height: 70px;
	}
	.carousel-caption {
    position: absolute;
    left: 5% !important;
    top: 140px;
    z-index: 10;
    padding-bottom: 20px;
    text-align: left;
    text-shadow: none !important; 
}
	.text-container{
		margin-bottom: 20px;
	}

}
@media screen and (max-width: 990px){
	.text-container{
		margin-bottom: 20px;
	}
	.carousel-caption h1{
	font-weight: 700;
	font-size: 2.6em;
	letter-spacing: 2px;
	color: #fff;
	text-transform: uppercase;
}
	#slides{
		max-height: 600px !important;
	}
	.notice li {
    position: relative;
    list-style-type: none;
    text-align: left;
    clear: both;
    cursor: pointer;
    background: rgba(0,0,0,0.4);
    color: #f2f2f2;
    height: 90px;
    width: auto;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
    border-radius: 4px;
}
	.notice h5{
		margin-top: 5px;
    	margin-bottom: 5px;
    	font-size: 0.83em;
	}
	.notice  h3{
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 1.17em;
	}
	.pink , .blue, .yellow{
		height: 70px;
	}
	.thumbnail a > img,
	.carousel-inner > .item > img,
	.carousel-inner > .item > a > img {
	  display: block;
	  width: auto;
	  height: 100%;
	  max-width: none;
	}
	.navbar-inverse .navbar-toggle {
    border-color: transparent; 
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 26px;

}
	.navbar-nav{
		background: #2098d1;
	    border-radius: 0px 0px 10px 10px;
	}
	.navbar-inverse .navbar-nav > li > a {
    	margin-top: 0px; 
	}
	.navbar-brand-new {
    margin-top: 18px;
    padding: 0px; 
    margin-left: 0px; 
    max-width: 35%;
    height: auto !important;
}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
     border-color: transparent !important; 
     background: none !important; 
}
	.img-container{
		height: auto;
	}
	.course h5 {
	font-size: 0.67em;
	line-height: 1;
	}
	.course h4{
		font-size: 0.77em;
	}
}