@media screen and (max-width: 1366px) and (min-width: 768px){
	
	.hero-caption{
	font-size: 4em;
	}
	.course{
		height: 220px;
	}
.course-img img{

  height: 220px;
  
}
	.course-option-list select{
		width: 330px;
		text-overflow: ellipsis;
		overflow: hidden;
	}
.course-img{
  width: 40%;
}
.course-details{
  width: 60%;
}
	.course-details{
		font-size: 0.84em;
	}
	.vector-main-home{
		max-width: 35% !important;
	}
	.stats-container {
    min-height: 300px;
}
	.notice a li {
    position: relative;
    list-style-type: none;
    text-align: left;
    clear: both;
    cursor: pointer;
    background: rgba(0,0,0,0.4);
    color: #f2f2f2;
    height: 90px;
    width: 250px;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
    border-radius: 4px;
}
	.notice h5{
		margin-top: 5px;
    	margin-bottom: 5px;
    	font-size: 0.93em;
	}
	.notice h3{
		margin-top: 6px;
		margin-bottom: 6px;	
		font-size: 1.27em;
	}
	.section-top img{
  height: auto;
  width: 100%;
}
	.section-overlay{
		height: 300px;
		overflow: hidden;
	}
	.noticecontainer{
		top: 20%;
	}
	.pink , .blue, .yellow{
		height: 70px;
	}
	.text-container{
		margin-bottom: 10px;
	}

}
@media screen and (max-width: 990px){
	.text-container{
		margin-bottom: 10px;
	}
	.navbar-dark > li > a {
    margin-top: 0px;
    font-size: 1.2em;
	}
	.dropdown-menu li a {
		font-size: 1.2em;
	}
	.float-left{
		float: left !important;
	}
	.dropdown-menu{
	    min-width: 150px;
	    border-radius: 0 !important;
	    border: none !important;
	    box-shadow: none !important;
	    margin: 0 !important;
	    padding: 0 !important;
	    position: relative !important;
	    width: 100% !important;
	}
	.content-main{
  margin-bottom: 0px;
}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	    border-color: transparent !important;
	    background: #fff !important;
	}
	.navbar-nav {
	    background: #fff;
	 }
	.navbar-dark{
		margin-right: 35px;
	    transition: all linear 0.2s;
	    -moz-transition: all linear 0.2s;
	    -webkit-transition: all linear 0.2s;
	}
	.navbar-dark .navbar-toggle .icon-bar {
		background: #000 !important;
	}
	.navbar-dark .navbar-toggle{
		    margin-top: 28px;
	}
	.course-option-list-second select{
		width: 230px;
	}
	 .dropdown-menu {
    background-color: #fff !important;
    border-radius: 0 !important;
    border: none !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;
    position: relative !important;
    width: 100% !important;
	}
	#slides{
		min-height: 100vh;
	}
	.main-header-section img{
		max-width: 200px;
		height: auto;
		margin: 0 auto;
	}
	.course-option-list select{
		width: 230px;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.course-option-list{
	    width: 100%;
	}
	.section-top img{
  	height: 300px;
  	width: auto;
	}
	.section-overlay{
		height: 300px;
	}
	.section-overlay h1 {
		font-size: 2.9em;
		margin-left: 10px;
	}
	.hero-caption{
	font-weight: 700;
	font-size: 2.6em;
	letter-spacing: 2px;
	color: #fff;
	text-transform: uppercase;
	margin: 0 auto;
	text-align: center;
}	
.noticecontainer{
	top:15% !important;
	right: 5% !important;
}	.text-container h4 {
    font-size: 1.3em;
}
	.notice a li {
    position: relative;
    list-style-type: none;
    text-align: left;
    clear: both;
    cursor: pointer;
    background: rgba(0,0,0,0.4);
    color: #f2f2f2;
    height: 80px !important;
    width: 260px !important;
    padding: 8px;
    display: block;
    margin-bottom: 8px;
    border-radius: 4px;
}
	.notice h5{
		margin-top: 5px;
    	margin-bottom: 5px;
    	font-size: 0.83em;
	}
	.notice  h3{
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 1.17em;
	}
	.carousel-students{
		min-height: 430px;
	}
	.about-section-home p, .admission-section-home p{
		font-size: 1.2em;
	}
	.content-main p {
		font-size: 1.2em;
	}
	.stats-text{
		font-size: 1.2em;
	}
	.student-img,.stats-text-carousel{
		text-align: center;
		margin: auto;
	}

	.pink , .blue, .yellow{
		height: 60px;
	}
	.thumbnail a > img,
	.carousel-inner > .item > img,
	.carousel-inner > .item > a > img {
	  display: block;
	  width: auto;
	  height: 100%;
	  max-width: none;
	}
	.navbar-inverse .navbar-toggle {
    border-color: transparent; 
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 26px;

}
	.navbar-nav{
	    border-radius: 0px 0px 10px 10px;
	}
	.navbar-nav li a {
		color: #000 !important;
	}
	.navbar-inverse .navbar-nav > li > a {
    margin-top: 0px;
    color: #000 !important;
    font-weight: 400 !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
	}
	.navbar-brand-new {
    margin-top: 18px;
    padding: 0px; 
    margin-left: 0px; 
    max-width: 35%;
    height: auto !important;
}
	
.nav > li > a {
	padding-left: 12px;
	padding-right: 12px;
}
	.information-center{
		margin-bottom: 10px;
	}
	.course h5 {
	font-size: 0.67em;
	line-height: 1;
	}
	.course h3{
		font-size: 0.77em;
	}
	.main-testimonial{
		font-size: 1.3em;
	}
	.testimonials {
    max-height: 250px !important;
	}
	.student-text-carousel p{
	  font-size: 1em;
	}
	.student-text-carousel span{
	  font-size: 1.2em;
	}
.student-img{
  height: 250px;
}
.student-img img{
	height: 250px !important;
	width: auto !important;
}
.student-text-carousel{
    
    top:25%;
    left: 10%;
}
.course-option-list label{
	display: none;
}


.course-details .course-short-description {
	font-size: 1em;
	-webkit-line-clamp: 3;
	height: 45px;
	}
	.testimonials{
		display: none;
	}
}