@media screen and (max-width: 1366px) and (min-width: 768px){
	
	.hero-caption{
	font-size: 4em;
	}
	.course{
		height: 220px;
	}
.course-img img{

  height: 220px;
  
}
.course-img{
  width: 40%;
}
.course-details{
  width: 60%;
}
	.course-details{
		font-size: 0.84em;
	}
	.vector-main-home{
		max-width: 35% !important;
	}
	.stats-container {
    min-height: 300px;
}
	.notice a li {
    position: relative;
    list-style-type: none;
    text-align: left;
    clear: both;
    cursor: pointer;
    background: rgba(0,0,0,0.4);
    color: #f2f2f2;
    height: 90px;
    width: 250px;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
    border-radius: 4px;
}
	.notice h5{
		margin-top: 5px;
    	margin-bottom: 5px;
    	font-size: 0.93em;
	}
	.notice  h3{
		margin-top: 10px;
		margin-bottom: 10px;	
		font-size: 1.27em;
	}
	.section-top img{
  height: auto;
  width: 100%;
}
	.section-overlay{
		height: 300px;
		overflow: hidden;
	}
	.noticecontainer{
		top: 20%;
	}
	.pink , .blue, .yellow{
		height: 70px;
	}
	.text-container{
		margin-bottom: 10px;
	}
.stats-text-carousel{
  font-weight: 400;
  font-size: 1em;
  color: #f2f2f2;
  margin-top: 45px;
  margin-left: 12px;
  text-align: left;
}

}
@media screen and (max-width: 990px){
	.text-container{
		margin-bottom: 20px;
	}
	#slides{
		min-height: 100vh;
	}
	.section-top img{
  	height: 300px;
  width: auto;
}
	.section-overlay{
		height: 300px;
	}
	.section-overlay h1 {
		font-size: 3.2em;
		margin-left: 10px;
	}
	.hero-caption{
	font-weight: 700;
	font-size: 2.6em;
	letter-spacing: 2px;
	color: #fff;
	text-transform: uppercase;
	margin: 0 auto;
	text-align: center;
}	
.noticecontainer{
	top:15% !important;
}
	.notice a li {
    position: relative;
    list-style-type: none;
    text-align: left;
    clear: both;
    cursor: pointer;
    background: rgba(0,0,0,0.4);
    color: #f2f2f2;
    height: 80px !important;
    width: auto !important;
    padding: 8px;
    display: block;
    margin-bottom: 8px;
    border-radius: 4px;
}
	.notice h5{
		margin-top: 5px;
    	margin-bottom: 5px;
    	font-size: 0.83em;
	}
	.notice  h3{
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 1.17em;
	}
	.carousel-students{
		min-height: 430px;
	}
	.student-img,.stats-text-carousel{
		text-align: center;
		margin: auto;
		margin-bottom: 10px;
	}

	.pink , .blue, .yellow{
		height: 60px;
	}
	.thumbnail a > img,
	.carousel-inner > .item > img,
	.carousel-inner > .item > a > img {
	  display: block;
	  width: auto;
	  height: 100%;
	  max-width: none;
	}
	.navbar-inverse .navbar-toggle {
    border-color: transparent; 
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 26px;

}
	.navbar-nav{
		background:#03558c;
	    border-radius: 0px 0px 10px 10px;
	}
	.navbar-inverse .navbar-nav > li > a {
    	margin-top: 0px; 
	}
	.navbar-brand-new {
    margin-top: 18px;
    padding: 0px; 
    margin-left: 0px; 
    max-width: 35%;
    height: auto !important;
}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
     border-color: transparent !important; 
     background: none !important; 
}
	.information-center{
		margin-bottom: 10px;
	}
	.course h5 {
	font-size: 0.67em;
	line-height: 1;
	}
	.course h3{
		font-size: 0.77em;
	}
}