

<div ng-include="'app/components/navbar/navbar-dark.html'"></div>
<div class="course-intro">
  <div class="container-fluid">
  	<div class="row">
  		<div class="col-lg-2 col-lg-offset-1 col-md-3 col-sm-12">
  			<div class="main-header-section">
        <img src="assets/images/vectors-13.png" class="img-responsive undergrad-icon">
      </div>
  		</div>
  		<div class="col-lg-8 col-md-8 col-sm-12">
  		
  		<div class="main-header-section">
  			<h2 class="main-header">PG Courses</h2>
  			<h4>VIT University offers 30+ postgraduate and research programmes, these include M.Tech, MSc, MCA, MBA, PhD, M.Phil and Research based Masters Degrees. VITMEE and GMAT are the exams used for admissions to M.Tech and MBA programmes respectively. Being placed 3rd among the top 30 research-oriented institutes speaks volumes about how VIT has managed to achieve a lot in a short span of time. Not only that but it has also secured sponsorship for 50 research projects and offers consultancy services worth more than Rs. 2.2 million. </h4>
  		</div>
  			
  		</div>
  	</div>
  </div>
  		
  </div>
  <div class="container-fluid">
  	<div class="row">
  	
  	<div class=" col-lg-7 col-lg-offset-1 col-sm-4">
    <br>
  	<div class="courses" ng-controller="CourseModalCtrl">
  	<div ng-repeat="postgrad in postgrads.slice(0,2)" class="postgrad" id="#{{postgrad.anchor}}">
            <div class="course-main ">
            <div class="course-title">
              <div class="{{postgrad.class}}"></div>
                <div class="text-container">
                <p >Programme</p>
               
                  <h4  class="hvr-float">
                  {{postgrad.name}}</h4>
                  
              </div>
                  
                

                <!-- 
                <h5>{{course.school}}</h5> -->
            </div>
            </div>
            
            <div class="course-short-description">
               
               {{postgrad.description}}
            </div>
            <div class="more-description">
            <div class="inline">
              <h4 ><i class="fa fa-graduation-cap"></i>&nbsp;Program</h4>
              <h5>
              {{postgrad.programtype}}</h5>
            </div>
            <div class="inline">
              <h4><i class="fa fa-globe"></i>&nbsp;Language</h4>
              <h5>
              {{postgrad.language}}</h5>
            </div>
            <div class="inline">
              <h4><i class="fa fa-clock-o"></i>&nbsp;Duration</h4>
              <h5>
              {{postgrad.duration}}</h5>
              
            </div>
              

            </div>
             <a href="{{postgrad.link}}" target="_blank" type="button" class="btn hvr-fade btn-theme"  >Apply Now</a><br><br>
               <img src="{{postgrad.image}}" class="img-responsive vector-main">
          </div>
          </div>
  	<div class="courses-listing" ng-controller="CourseListCtrl">
  			<h2 class="section-lower-header">Courses Offered</h2>
  			<div class="form-group course-option-list">
  			    <label for="school" class="col-sm-2 control-label">School</label>
  			    <div class="col-sm-10">
  			      <select  name="mySelect" id="mySelect"
      ng-options="option.name for option in cluster.availableOptions track by option.id"
      ng-model="cluster.selectedOption" >

                    </select>
  			    </div>
		  	</div>
		  	<table class="courses-table" >
	  		<thead>
		  		<th class="col-md-6">Programs</th>	
		  		<th class="col-md-6">Curriculum</th>
	  		</thead>
	  		<tbody >
		  	  <tr ng-repeat="x in cluster.selectedOption.course">
		  	    <td class="col-md-6" >
		  	    <div class="course-main ">
            		<div class="course-title">
              		<div class="blue-small"></div> 
                		<div class="text-container">
                			<p >Programme</p>
               
              				<h4  class="hvr-float">{{x.name}}</h4>
                  
              			</div>
            		</div>
            	</div>
            	</td>
		  	    <td class="col-md-6"><a class="btn hvr-fade btn-blue-theme" href="{{x.link}}" target="_blank">Download</a></td>
		  	  </tr>
	  	  	</tbody>
		  	</table><br><br>
  		</div>
  	
  	</div>
  	<div class="col-lg-3 col-lg-offset-1 col-sm-12 padding-r-0" style="background: #f2f2f2;padding: 10px 0px 20px 35px;">
  		<h2 class="section-header">Know More</h2>
		<div class="contact-us-links">
  		  <ul>
                <li><a href="#/undergrad" target="_blank">UG Admissions</a></li>
                <li><a href="#/postgrad" target="_blank">PG Admissions</a></li>
                <li><a href="#/research" target="_blank">Research Admissions</a></li>
                <li><a href="#/international" target="_blank">International Admissions</a></li>
                <li><a href="#/undergrad" target="_blank">VITEEE</a></li>
                </ul>
                 <div class="address">
                
                  <h2 class="section-header">PG Programmes</h2>
                      <h3><b>Dr.G.Kalaichelvan</b></h3><br>
                      <b>Director</b> - PG Admissions<br><br>
                      <address>
                      <i class="fa fa-map-marker"></i>&nbsp;VIT University<br>
                      Vellore - 632014<br>
                      Tamil Nadu, India<br><br>
                      </address>
                      <i class="fa fa-phone"></i>&nbsp;Phone : +91-416-220 4600 / 4700 /4800<br>
                      <i class="fa fa-fax"></i>&nbsp;Fax : +91-416-224 5544<br>
                      <i class="fa fa-envelope"></i>&nbsp;Email : pgadmission@vit.ac.in<br>
                </div>
  	</div>
  	</div>
  	
  
  </div>
  </div>
  

   <div ng-include="'app/components/footer/footer.html'"></div>