

<div ng-include="'app/components/navbar/navbar-dark.html'"></div>
<div class="course-intro">
  <div class="container-fluid">
  	<div class="row">
  		<div class="col-lg-2 col-lg-offset-1 col-md-3 col-sm-12">
  			<div class="main-header-section">
        <img src="assets/images/vectors-13.png" class="img-responsive undergrad-icon">
      </div>
  		</div>
  		<div class="col-lg-8 col-md-8 col-sm-12">
  		
  		<div class="main-header-section">
  			<h2 class="main-header">PG Courses</h2>
  			<h4>VIT University prides itself in the ability to provide an education that is coveted not only within in India but abroad as well. Proof of this is seen in the increasing number of international students pursuing their higher education in the university. There are currently students from over 54 different countries studying in the university. </h4>
  		</div>
  			
  		</div>
  	</div>
  </div>
  		
  </div>
  <div class="container-fluid">
  	<div class="row">
  	
  	<div class=" col-lg-7 col-lg-offset-1 col-sm-4">
  	<div class="courses" ng-controller="CourseModalCtrl">
  	<div ng-repeat="program in programs.slice(0,1)" class="program" id="#{{program.anchor}}">
            <div class="course-main ">
            <div class="course-title">
              <div class="{{program.class}}"></div>
                <div class="text-container">
                <p >Programme</p>
               
                  <h4  class="hvr-float">{{program.name}}</h4>
                  
              </div>
                  
                

                <!-- 
                <h5>{{course.school}}</h5> -->
            </div>
            </div>
            
            <div class="course-short-description">
               {{program.description}}
            </div>
            <div class="more-description">
            <div class="inline">
              <h4 ><i class="fa fa-graduation-cap"></i>&nbsp;Program</h4>
              <h5>{{program.programtype}}</h5>
            </div>
            <div class="inline">
              <h4><i class="fa fa-globe"></i>&nbsp;Language</h4>
              <h5>{{program.language}}</h5>
            </div>
            <div class="inline">
              <h4><i class="fa fa-clock-o"></i>&nbsp;Duration</h4>
              <h5>{{program.duration}}</h5>
              
            </div>
              

            </div>
             <a href="{{program.link}}" target="_blank" type="button" class="btn hvr-fade btn-theme"  >Apply Now</a>
               <img src="{{program.image}}" class="img-responsive vector-main">
          </div>
          </div>
  	<div class="courses-listing" ng-controller="CourseListCtrl">
  			<h2 class="section-lower-header">Courses Offered</h2>
  			<div class="form-group course-option-list">
  			    <label for="school" class="col-sm-2 control-label">School</label>
  			    <div class="col-sm-10">
  			      <select  name="mySelect" id="mySelect"
      ng-options="option.name for option in data.availableOptions track by option.id"
      ng-model="data.selectedOption" >

                    </select>
  			    </div>
		  	</div>
		  	<table class="courses-table" >
	  		<thead>
		  		<th class="col-md-6">Programs</th>	
		  		<th class="col-md-6">Curriculum</th>
	  		</thead>
	  		<tbody >
		  	  <tr ng-repeat="x in data.selectedOption.course">
		  	    <td class="col-md-6" >
		  	    <div class="course-main ">
            		<div class="course-title">
              		<div class="blue-small"></div> 
                		<div class="text-container">
                			<p >Programme</p>
               
              				<h4  class="hvr-float">{{x.name}}</h4>
                  
              			</div>
            		</div>
            	</div>
            	</td>
		  	    <td class="col-md-6"><a class="btn hvr-fade btn-blue-theme" href="{{x.link}}" target="_blank">Download</a></td>
		  	  </tr>
	  	  	</tbody>
		  	</table>
		  	<h4>*Programmes are offered at <b>Chennai Campus</b> also.<br>
			**Programmes are offered at <b>Chennai Campus</b> only.</h4>
  		</div>
  	
  	</div>
  	<div class="col-lg-3 col-lg-offset-1 col-sm-12 padding-r-0" style="background: #f2f2f2;padding: 10px 0px 20px 35px;">
  		<h2 class="section-header">Know More</h2>
		<div class="contact-us-links">
  		  <ul>
        <li><a href="#/undergrad" target="_blank">UG Admissions</a></li>
        <li><a href="#/postgrad" target="_blank">PG Admissions</a></li>
        <li><a href="#/research" target="_blank">Research Admissions</a></li>
        <li><a href="#/international" target="_blank">International Admissions</a></li>
        <li><a href="#/undergrad" target="_blank">VITEEE</a></li>
        </ul>
        <div class="address">
          <h2 class="section-header">Important Dates</h2>
          <h4><b>31st December 2016</b></h4>
        </div>
  		</div>
  	</div>
  	</div>
  	
  
  </div>
  

   <div ng-include="'app/components/footer/footer.html'"></div>